/*
 Table Of Content

 1.) Global Typography
 2.) Global Form Elements
 3.) Header Section
 4.) Footer Section
 5.) Site Wide Content
 6.) Default Style
 ----------------------------------------*/

/*
 1.) Global TypoGraphy
 -------------------------------------*/
body {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1;
	color: #333333;
	font-size: 11.67px;
	font-weight: 400;
}
h2 {
	font-size: 15.83px;
	color: #fff;
	font-weight: 600;
}
h3 {
	font-size: 13.75px;
	color: #fff;
	text-transform: capitalize;
}
#wrapper blockquote {
	font-size: 11.67px;
	line-height: 18px;
	margin: 0 0 20px 0;
	color: #c0bebe;
	font-style: normal;
}

p {
	font-size: 11.67px;
	color: #333333;
	line-height: 18px;
	margin-bottom: 15px;
}

/*
 2.) Global Form Elements
 -------------------------------------*/

input,select {
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

/*
 3.) Header Section
 -------------------------------------*/
#header {
	margin-bottom: 7px;
}

.top-header {
	padding: 7px 0 6px;
	border-bottom: 1px solid #e8e8e7;
}
.top-header .main {
	position: relative;
}
.main-header {
	position: relative;
}
.line {
	background: url(../images/line.png) center top no-repeat;
	position: absolute;
	top: 23px;
	width: 961px;
	height: 31px;
	display: block;
	left: 50px;
}
.nav {
	float: left;
	margin-top: 12px;
}
.nav li {
	padding: 0 9px;
	float: left;
	background: url(../images/bar.png) left top no-repeat;
}
.nav li:first-child {
	background: none;
	padding-left: 5px;
}
.nav li a {
	color: #999999;
	text-transform: capitalize;
}
.nav li a:hover {
	color: #000;
	text-decoration: underline;
}
.social-media {
	float: right;
}
.links {
	color: #666666;
	padding-top: 12px;
	float: left;
}
.social {
	float: right;
}
.social li {
	float: left;
	margin-left: 3px;
}
.social li a {
	display: block;
	padding: 8px 0px 4px;
	text-align: center;
	color: #666666;
	font-size: 16.67px;
	border: 1px solid #e0e0df;
	width: 31px;
}
.social li a:hover {
	border: 1px solid #b6b5b4;
}
.mid-header {
	padding-top: 30px;
	margin-bottom: 8px;
}
.logo {
	float: left;
	display: block;
}
.block {
	float: right;
}
.price-box {
	float: right;
	width: 182px;
	color: #fff;
	margin-left: 14px;
}
.doller {
	background-color: #598d55;
	overflow: hidden;
	text-align: center;
}
.doller:nth-child(even) {
	background-color: #34632f;
}
.symbol {
	width: 32px;
	float: left;
	padding: 3px 0;
	display: block;
	font-weight: bold;
	font-size: 16.67px;
	background-color: rgba(255,255,255,0.10);
}
.price-text {
	width: inherit;
	padding: 6px 0px 0px 6px;
	font-size: 11.25px;
	text-transform: uppercase;
	float: left;
	display: inline-block;
}
.arrow {
	width: 33px;
	float: right;
	display: block;
	padding-top: 1px;
}
.arrow i {
	font-size: 21.5px;
	color: #fff;
}
.help-line {
	background:url(../images/help.png) left top no-repeat;
	float: right;
	width: 344px;
	padding: 15px 0 12px;
	color: #666666;
	font-size: 16.67px;
	text-align: center;
	position: relative;
}
.help-info {
	text-transform: uppercase;
	margin-bottom: 8px;
	display: inline-block;
}
.tel {
	display: block;
	font-style: normal;
}
.value:before, .value:after, #footer h2:before {
	display: inline-block;
	content: "";
	position: absolute;
}

.phone-icon {
	width: 52px;
	height: 52px;
	background-color: #ff9933;
	border-radius: 100%;
	display: block;
	position: absolute;
	left: -24px;
	top: 8px;
}
.phone-icon i {
	font-size: 30px;
	color: #fff;
	padding-top: 13px;
}
.menu li {
	float: left;
	background: url(../images/blue-effects.png) right bottom no-repeat;
	padding-right: 19px;
	margin-left: -10px;
}

.menu li:hover {
	background: url(../images/blue-effects-hover.png) right bottom no-repeat;
}
.menu li:hover a {
	background: url(../images/blue-effects-hover.png) left top no-repeat;
}
.menu li a {
	color: #fff;
	text-transform: capitalize;
	font-size: 13.75px;
	font-weight: 700;
	line-height: 37px;
	background: url(../images/blue-effects.png) left top no-repeat;
	display: block;
	padding: 0 30px 0 27px;
}
.menu li.home {
	padding-right: 0;
	background: none;
	margin-left: 0px;
	position: relative;
	z-index: 5;
}

.menu li.home a {
	background: url(../images/home.png) left top no-repeat;
	width: 66px;
	height: 37px;
	display: block;
	padding: 0;
}

.quick-search {
	background-color: #0099ff;
	padding: 23px 0 14px 16px;
	position: relative;
	top: -2px;
}

.search {
	font-size: 15.83px;
	color: #fff;
	padding-top: 10px;
	float: left;
	margin-right: 10px;
}

.select-box, .search-box,.sbHolder {
	background-color: #fff;
	float: left;
	width: 33%;
	margin-right: 10px;
	border-radius: 4px;
}
.item {
	font-size: 13.75px;
	color: #c7c7c7;
	text-transform: capitalize;
	display: block;
	padding: 12px 15px 10px;
}
.item i {
	font-size: 20.83px;
	color: #d4d4d4;
	float: right;
	line-height: 12px;
}
.search-box {
	margin-right: 14px;
	height: 36px;
}

.search-box input[type="text"] {
	padding: 9px 10px 9px;
	width: 91%;
	border-radius: 4px;
	background-color: transparent;
	border: 0;
	font-size: 13.75px;
	outline: none;
	box-shadow: none;
}
.search-box input[type="submit"] {
	color: #d4d4d4;
	background: url(../images/search.png) right top no-repeat;
	width: 18px;
	height: 17px;
	cursor: pointer;
	vertical-align: middle;
}

.button {
	border: 1px solid #312c2a;
	padding: 8px 25px;
	font-size: 13.75px;
	color: #fff;
	float: left;
	box-shadow: 0px 1px 0px 0px #666666 inset;
	text-align: center;
	text-transform: uppercase;
	background: #333333;
	display: block;
	margin-right: 8px;
	border-radius: 5px;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#333333), to(#262525));
	background: -webkit-linear-gradient(#333333, #262525);
	background: -moz-linear-gradient(#333333, #262525);
	background: -ms-linear-gradient(#333333, #262525);
	background: -o-linear-gradient(#333333, #262525);
	background: linear-gradient(#333333, #262525);
	-pie-background: linear-gradient(#333333, #262525);
	white-space: nowrap;
}
.button:hover {
	background: #3D3D3D;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#3D3D3D), to(#313030));
	background: -webkit-linear-gradient(#3D3D3D, #313030);
	background: -moz-linear-gradient(#3D3D3D, #313030);
	background: -ms-linear-gradient(#3D3D3D, #313030);
	background: -o-linear-gradient(#3D3D3D, #313030);
	background: linear-gradient(#3D3D3D, #313030);
	-pie-background: linear-gradient(#3D3D3D, #313030);
}
.pop-up{
	text-transform: lowercase;
}
.pop-up, .pop-up:hover {
	padding: 10px 17px;
	margin-right: 0;
	background: #514E4E;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#514E4E), to(#3f3c3c));
	background: -webkit-linear-gradient(#514E4E, #3f3c3c);
	background: -moz-linear-gradient(#514E4E, #3f3c3c);
	background: -ms-linear-gradient(#514E4E, #3f3c3c);
	background: -o-linear-gradient(#514E4E, #3f3c3c);
	background: linear-gradient(#514E4E, #3f3c3c);
	-pie-background: linear-gradient(#514E4E, #3f3c3c);
}

.selected, .selected:hover {
	background: #636060;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#636060), to(#535050));
	background: -webkit-linear-gradient(#636060, #535050);
	background: -moz-linear-gradient(#636060, #535050);
	background: -ms-linear-gradient(#636060, #535050);
	background: -o-linear-gradient(#636060, #535050);
	background: linear-gradient(#636060, #535050);
	-pie-background: linear-gradient(#636060, #535050);
}

.select-box {
	position: relative;
}
.drop-down {
	position: absolute;
	left: 0;
	top: 33px;
	width: 100%;
	background-color: #fff;
	border-top: 1px solid #e5e5e5;
	z-index: 90;
	display: none;
}

.drop-down li a {
	font-size: 13.75px;
	color: #928989;
	padding: 10px 16px;
	text-transform: uppercase;
	display: block;
}
.drop-down li a:hover {
	background-color: #ebebea;
}
/*
 4.) Footer Section
 -------------------------------------*/

#footer {
	border-top: 2px solid #272525;
	padding: 25px 0 0px;
	background-color: #343434;
}
#footer h2 {
	font-size: 14.58px;
	color: #a7a0a0;
	font-weight: 700;
	background-color: #272525;
	padding: 10px 20px;
	position: relative;
	text-transform: uppercase;
	margin-bottom: 15px;
}
#footer h2:before {
	border-bottom: 8px solid transparent;
    border-left: 8px solid #272525;
    border-top: 6px solid transparent;
    bottom: -8px;
    left: 0;
    position: absolute;
}
.footer-info {
	overflow: hidden;
	padding-bottom: 0px;
}
.org-details {
	float: left;
	width: 29%;
	margin-right: 6.6%;
}
.about-us {
	padding-left: 8px;
}
.org-details p {
	color: #c0bebe;
	margin-bottom: 15px;
}
.jobs-block {
    margin-right:5.5%;
	width: 22%;
}
.jobs-category {
	float:left;
	padding-left: 20px;
	width:200px;
}
/*.jobs-category.first{
	width:70px;
}*/
.jobs-category li {
	list-style: disc inside none;
	color: #bfbebe;
	font-size: 11.67px;
	line-height: 22px;
	width:50%;
	float:left;
}
.jobs-category li a {
	color: #bfbebe;
	display: inline;
}
.jobs-category li a:hover {
	color: #161515;
	text-decoration: underline;
}
.contact-us {
	margin-right: 0;
	width: 36%;
}
.address {
	padding-left: 8px;
}
.address li {
	font-size: 11.67px;
	color: #bfbebe;
	line-height: 18px;
	margin-top: 25px;
}
.address li:first-child {
	margin-top: 0;
}
.address .title {
	display: inline-block;
	width: 45px;
	text-transform: capitalize;
}
.address i {
	font-style: normal;
	display: inline-block;
	margin-right: 10px;
}
.email {
	color: #bfbebe;
}
.copyright {
	border-top: 2px solid #272525;
	border-bottom: 2px solid #272525;
	padding: 15px 0;
	background-color: #2d2b2b;
}
.copyright span {
	color: #c7c7c7;
	font-weight: bold;
	font-size: 10.83px;
	text-transform: capitalize;
}
.copyright span a {
	color: #c7c7c7;
}
/*
 5.) Site Wide Content
 -------------------------------------*/

.main {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
}

.help-line, .menu li span a, .search, .inner-text, h2, .appartment-details, .text, .element, .left-text, h3, #footer h2, .form-info legend, label, .banner-text span, .head-box, .para, .category li {
	font-family: 'Roboto', sans-serif;
}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}

/*
 6.) Default Style
 -------------------------------------*/

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.625em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.625em;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.625em;
}

ul {
	list-style: none;
}
ol {
	list-style-type: decimal;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul, ol ol, ul ol, ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 1.625em;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 1.625em;
}
strong {
	font-weight: bold;
}
cite, em, i {
	font-style: italic;
}

blockquote {
	font-family: Georgia, "Bitstream Charter", serif;
	font-style: italic;
	font-weight: normal;
	margin: 0 3em;
}
blockquote em, blockquote i, blockquote cite {
	font-style: normal;
}
blockquote cite {
	color: #666;
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

pre {
	background: #f4f4f4;
	font: 13px "Courier 10 Pitch", Courier, monospace;
	line-height: 1.5;
	margin-bottom: 1.625em;
	overflow: auto;
	padding: 0.75em 1.625em;
}
code, kbd, samp, var {
	font: 13px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym, dfn {
	border-bottom: 1px dotted #666;
	cursor: help;
}

ins {
	background: #fff9c0;
	text-decoration: none;
}
sup, sub {
	font-size: 10px;
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: smaller;
}

/* Forms */
input[type=text], input[type=password], input[type=email], input[type=url], input[type=number], textarea {
	background: #fafafa;
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	border: 1px solid #ddd;
	color: #888;
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=url]:focus, input[type=number]:focus, textarea:focus {
	color: #373737;
}
textarea {
	padding-left: 3px;
	width: 98%;
}
input[type=text], input[type=password], input[type=email], input[type=url], input[type=number] {
	padding: 3px;
}
input#s {
	background: url(images/search.png) no-repeat 5px 6px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-size: 14px;
	height: 22px;
	line-height: 1.2em;
	padding: 4px 10px 4px 28px;
}
input#searchsubmit {
	display: none;
}

/*
 7.) Comments
 ----------------------------------------------- */

#comments-title {
	color: #666;
	font-size: 10px;
	font-weight: 500;
	line-height: 2.6em;
	padding: 0 0 2.6em;
	text-transform: uppercase;
}
.nopassword, .nocomments {
	color: #aaa;
	font-size: 24px;
	font-weight: 100;
	margin: 26px 0;
	text-align: center;
}
.commentlist {
	list-style: none;
	margin: 0 auto;
	width: 68.9%;
}
.content .commentlist, .page-template-sidebar-page-php .commentlist {
	width: 100%; /* reset the width for the one-column and sidebar page layout */
}
.commentlist > li.comment {
	background: #f6f6f6;
	border: 1px solid #ddd;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 0 1.625em;
	padding: 1.625em;
	position: relative;
}
.commentlist .pingback {
	margin: 0 0 1.625em;
	padding: 0 1.625em;
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li.comment {
	background: #fff;
	border-left: 1px solid #ddd;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
	margin: 1.625em 0 0;
	padding: 1.625em;
	position: relative;
}
.commentlist .children li.comment .fn {
	display: block;
}
.comment-meta .fn {
	font-style: normal;
}
.comment-meta {
	color: #666;
	font-size: 12px;
	line-height: 2.2em;
}
.commentlist .children li.comment .comment-meta {
	line-height: 1.625em;
	margin-left: 50px;
}
.commentlist .children li.comment .comment-content {
	margin: 1.625em 0 0;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
.comment-meta a {
	font-weight: bold;
}
.comment-meta a:focus, .comment-meta a:active, .comment-meta a:hover {
}
.commentlist .avatar {
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px #ccc;
	-moz-box-shadow: 0 1px 2px #ccc;
	box-shadow: 0 1px 2px #ccc;
	left: -102px;
	padding: 0;
	position: absolute;
	top: 0;
}
.commentlist > li:before {
	content: url(images/comment-arrow.png);
	left: -21px;
	position: absolute;
}
.commentlist > li.pingback:before {
	content: '';
}
.commentlist .children .avatar {
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	left: 2.2em;
	padding: 0;
	top: 2.2em;
}
a.comment-reply-link {
	background: #eee;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #666;
	display: inline-block;
	font-size: 12px;
	padding: 0 8px;
	text-decoration: none;
}
a.comment-reply-link:hover, a.comment-reply-link:focus, a.comment-reply-link:active {
	background: #888;
	color: #fff;
}
a.comment-reply-link > span {
	display: inline-block;
	position: relative;
	top: -1px;
}

/* Post author highlighting */
.commentlist > li.bypostauthor {
	background: #ddd;
	border-color: #d3d3d3;
}
.commentlist > li.bypostauthor .comment-meta {
	color: #575757;
}
.commentlist > li.bypostauthor .comment-meta a:focus, .commentlist > li.bypostauthor .comment-meta a:active, .commentlist > li.bypostauthor .comment-meta a:hover {
}
.commentlist > li.bypostauthor:before {
	content: url(images/comment-arrow-bypostauthor.png);
}

/* Post Author threaded comments */
.commentlist .children > li.bypostauthor {
	background: #ddd;
	border-color: #d3d3d3;
}

/* sidebar-page.php comments */
/* Make sure we have room for our comment avatars */
.page-template-sidebar-page-php .commentlist > li.comment, .page-template-sidebar-page-php.commentlist .pingback {
	margin-left: 102px;
	width: auto;
}
/* And a full-width comment form */
.page-template-sidebar-page-php #respond {
	width: auto;
}

/* Comment Form */
#respond {
	background: #ddd;
	border: 1px solid #d3d3d3;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 auto 1.625em;
	padding: 1.625em;
	position: relative;
	width: 68.9%;
}
#respond input[type="text"], #respond textarea {
	background: #fff;
	border: 4px solid #eee;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);
	-moz-box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);
	box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);
	position: relative;
	padding: 10px;
	text-indent: 80px;
}
#respond .comment-form-author, #respond .comment-form-email, #respond .comment-form-url, #respond .comment-form-comment {
	position: relative;
}
#respond .comment-form-author label, #respond .comment-form-email label, #respond .comment-form-url label, #respond .comment-form-comment label {
	background: #eee;
	-webkit-box-shadow: 1px 2px 2px rgba(204,204,204,0.8);
	-moz-box-shadow: 1px 2px 2px rgba(204,204,204,0.8);
	box-shadow: 1px 2px 2px rgba(204,204,204,0.8);
	color: #555;
	display: inline-block;
	font-size: 13px;
	left: 4px;
	min-width: 60px;
	padding: 4px 10px;
	position: relative;
	top: 40px;
	z-index: 1;
}
#respond input[type="text"]:focus, #respond textarea:focus {
	text-indent: 0;
	z-index: 1;
}
#respond textarea {
	resize: vertical;
	width: 95%;
}
#respond .comment-form-author .required, #respond .comment-form-email .required {
	color: #bd3500;
	font-size: 22px;
	font-weight: bold;
	left: 75%;
	position: absolute;
	z-index: 1;
}
#respond .comment-notes, #respond .logged-in-as {
	font-size: 13px;
}
#respond p {
	margin: 10px 0;
}
#respond .form-submit {
	float: right;
	margin: -20px 0 10px;
}
#respond input#submit {
	background: #222;
	border: none;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	color: #eee;
	cursor: pointer;
	font-size: 15px;
	margin: 20px 0;
	padding: 5px 42px 5px 22px;
	position: relative;
	left: 30px;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
}
#respond input#submit:active {
	background: #1982d1;
	color: #bfddf3;
}
#respond #cancel-comment-reply-link {
	color: #666;
	margin-left: 10px;
	text-decoration: none;
}
#respond .logged-in-as a:hover, #respond #cancel-comment-reply-link:hover {
	text-decoration: underline;
}
.commentlist #respond {
	margin: 1.625em 0 0;
	width: auto;
}
#reply-title {
	color: #373737;
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
}
#cancel-comment-reply-link {
	color: #888;
	display: block;
	font-size: 10px;
	font-weight: normal;
	line-height: 2.2em;
	letter-spacing: 0.05em;
	position: absolute;
	right: 1.625em;
	text-decoration: none;
	text-transform: uppercase;
	top: 1.1em;
}
#cancel-comment-reply-link:focus, #cancel-comment-reply-link:active, #cancel-comment-reply-link:hover {
	color: #ff4b33;
}
#respond label {
	line-height: 2.2em;
}
#respond input[type=text] {
	display: block;
	height: 24px;
	width: 75%;
}
#respond p {
	font-size: 12px;
}
p.comment-form-comment {
	margin: 0;
}
.form-allowed-tags {
	display: none;
}
