.select-box, .search-box, .button, .phone-icon, .info-icon, .more-info, .range input[type="text"], .form-info input[type="submit"], .head-box,.control li a,.sbHolder {
	behavior: url(PIE.htc);
}
.search-box, .button, .info-icon, .range input[type="text"], .form-info input[type="submit"], .head-box,.control li a,.more-info {
	position: relative;
}
.appartment-details strong {
	font-size: 11px
}
.rent, .pricing {
	opacity: .9;
	filter: alpha(opacity=90);
}
.rent {
	background: #2070a0;
}
.green {
	background: #669933;
}
.pricing {
	background: #d73c3c
}

.form-info {
	background-color: #fff;
	opacity: .96;
	filter: alpha(opacity=96);
}
.tabs-box li a:hover, .active {
	background-color: #fff;
	opacity: .10;
	filter: alpha(opacity=10);
}
.tabs-box li a:hover .text, .tabs-box li a.active .text {
	color: #fff;
	position: relative;
	z-index: 99999;
}
.list-gallery .left-text {
	font-size: 13px;
}
