/*
 Table Of Content

 1.) Home Page Content
 2.) Detay Page Content
 -----------------------------------*/

/*
 1.) Home Page Content
 -----------------------------------*/

#wrapper {
	overflow: hidden;
}
#content {
	margin-bottom: 25px;
}
.mid-content {
	float: left;
	width: 766px;
}

.banner {
	padding-bottom: 58px;
	position: relative;
	margin-bottom: 8px;
}
.figure {
	border: 1px solid #a7b1aa;
	border-bottom: 0;
}
.slides li img {
	display: block;
	max-height:359px;
	max-width:766px;
}
.slides .bx-controls{
	display:none;
}
.slider-text {
	position: absolute;
	bottom: 0;
	border-bottom: 3px solid #3f5245;
	padding: 9px 0 10px 13px;
	background-color: #506456;
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
.info-icon {
	width: 33px;
	height: 33px;
	border-radius: 100%;
	border: 1px solid #fff;
	float: left;
	text-align: center;
	margin-right: 10px;
}
.info-icon i {
	font-size: 18.75px;
	color: #fff;
	padding: 7px 0 0 5px;
}

.inner-text {
	float: left;
	color: #fff;
	line-height: 18px;	
}
.inner-text div{
	display:none;
}
.inner-text div.active{
	display:block;
}
.inner-text strong {
	font-weight: 600;
	font-size: 14.17px;
	display: block;
}
.inner-text span {
	font-size: 13.33px;
	font-weight: 400;
}
.control {
	background-color: #3f5245;
	display: block;
	width: 116px;
	height: 55px;
	position: absolute;
	right: 0;
	bottom: 0;
	text-align:center;
}
.control li{
	margin:20px 1px;
	display:inline-block;
}
.control li.active a,.control li a:hover{
	background-color: #fff;
}
.control li a{
	width:14px;
	height:14px;
	border:1px solid #fff;
	border-radius:100%;
	display:block;
}
.title-head {
	background: url(../images/yellow-effects.png) right top no-repeat;
	margin-bottom: 4px;
}

.title-head h2 {
	padding: 14px 18px;
	text-transform: capitalize;
	width: 622px;
	background-color: #ff9933;
	float: left;
}

.all {
	float: left;
	font-size: 13.75px;
	color: #fff;
	font-weight: 400;
	text-align: center;
	display: block;
	float: left;
	background: #fd7d26;
	padding: 15px 0;
	width: 85px;
}
#slidelist{
	height:520px;
}
.gallery-block {
	overflow: hidden;
	margin-left: -13px;	
}
.gallery-block li {
	float: left;
	width: 246px;
	margin-left: 13px;
	margin-bottom: 8px;
}
.gallery-block li:hover .prev-btn,.gallery-block li:hover .next-btn{
	display:block;
}
figure.appartment .bx-wrapper{
	height:169px;
}
figure.appartment .bx-controls{
	position:absolute;
	top:84px;
	width:100%;
}
figure.appartment .bx-controls-direction{
	display:none;
}
figure.appartment:hover .bx-controls-direction{
	display:block;
}
figure.appartment .bx-prev, figure.appartment .bx-next{
	background-image: url(../images/button.png);
	width:40px;
	height:40px;
	background-repeat: no-repeat;
	text-indent:-9999px;
	position: absolute;
	top:50%;
	margin-top:-20px;	
}
.prev-btn,.next-btn{
	background-image: url(../images/button.png);
	width:40px;
	height:40px;
	background-repeat: no-repeat;
	text-indent:-9999px;
	position: absolute;
	top:50%;
	margin-top:-20px;
	display:none;
}
figure.appartment .bx-prev{
	background-position: 0 0;
	left:30px;
}
.prev-btn{
	background-position: 0 0;
	left:30px;
}
figure.appartment .bx-prev:hover{
	background-position: 0 -40px;
}
.prev-btn:hover{
	background-position: 0 -40px;
}
figure.appartment .bx-next{
	background-position: -40px 0;
	right:30px;
}
.next-btn{
	background-position: -40px 0;
	right:30px;
}
figure.appartment .bx-next:hover{
	background-position: -40px -40px;
}
.next-btn:hover{
	background-position: -40px -40px;
}



.appartment {
	position: relative;
	overflow:hidden;
}
.appartment img {
	display: block;
}
.pricing {
	font-size: 14.58px;
	color: #fff;
	padding: 8px 20px;
	background-color: rgba(215,60,60,0.90);
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
}
.appartment-details {
	border: 1px solid #c6c6c5;
	padding: 8px 16px 7px 12px;
}
.appartment-details strong {
	font-weight: 600;
	font-size: 13px;
	color: #16221f;
	text-transform: capitalize;
	line-height: 1;
	display: block;
}
.appartment-details span {
	color: #16221f;
	display: block;
	font-size: 12.5px;
	line-height: 22px;
	margin-bottom: 8px;
	white-space: nowrap;
}
.more-info {
	font-size: 13.75px;
	color: #fff;
	text-transform: capitalize;
	width: 214px;
	display: block;
	margin: 0 auto;
	text-align: center;
	border: 1px solid #656565;
	box-shadow: 0 1px 0 0 #adadad inset;
	line-height: 1;
	background: #919090;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#919090), to(#575656));
	background: -webkit-linear-gradient(#919090, #575656);
	background: -moz-linear-gradient(#919090, #575656);
	background: -ms-linear-gradient(#919090, #575656);
	background: -o-linear-gradient(#919090, #575656);
	background: linear-gradient(#919090, #575656);
	-pie-background: linear-gradient(#919090, #575656);
	border-radius:3px;
	padding:7px 0 8px;
}
.more-info:hover {
	opacity:0.95;
}

.view-info {
	border-bottom: 1px solid #0a76bf;
	overflow: hidden;
	margin-bottom: 4px;
}
.tabs-box {
	float: left;
	width: 640px;
	background-color: #43a8fb;
}
.tabs-box li {
	float: left;
	cursor:pointer;
}
.tabs-box li a {
	display: block;
	width: 169px;
	text-align: center;
	padding: 18px 0 12px;
}
.tabs-box .info-icon {
	float: none;
	display: inline-block;
	width: 42px;
	height: 42px;
	margin-right: 0;
	margin-bottom: 12px;
}
.tabs-box .info-icon i {
	padding: 13px 0 0;
}
.text {
	font-size: 14.17px;
	color: #fff;
	display: block;
}
.tabs-box li a:hover, .tabs-box li a.active {
	background-color: rgba(255,255,255,0.10);
}
.move-item {
	float: right;
	width: 126px;
	height: 100px;
	background-color: #0a76bf;
	position: relative;
	padding-top: 53px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	padding-left: 10px;
}
.move-item a{
	width: 12px;
	height: 19px;
	display: block;	
	text-indent: -9999px;
	float: left;
	background:none;
}
.move-item a.bx-next, .move-item a.bx-prev {
	width: 12px;
	height: 19px;
	display: block;
	background-image: url(../images/arrow.png);
	background-repeat: no-repeat;
	text-indent: -9999px;
	float: left;
}
.move-item a.bx-prev{
	background-position: 0 0;
}
.prev {
	background-position: 0 0;
}
.move-item a.bx-next {
	background-position: -12px 0;
}
.next {
	background-position: -12px 0;
}
.element {
	margin-left: 12px;
	display: block;
	float: left;
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	margin-right: 18px;
}
.rent {
	background-color: rgba(32, 112, 160, 0.9);
	top: 0;
	color: #FFFFFF;
	display: block;
	font-size: 14.58px;
	left: 0;
	padding: 8px 20px;
	position: absolute;
}
.rent2 {
	background-color: rgba(32, 112, 160, 0.9);
	top: 0;
	color: #FFFFFF;
	display: block;
	font-size: 14.58px;
	right: 0;
	padding: 8px 20px;
	position: absolute;
}
.green {
	background-color: rgba(102, 153, 51, 0.9) !important;
}
.catalog {
	overflow: hidden;
	margin-bottom: 8px;
}
.catalog li {
	overflow: hidden;
	border-bottom: 1px dotted #dddddd;
	padding: 5px 0 4px 2px;
	width: 214px;
	margin-left: 0;
	margin-bottom: 0;
}
.catalog li:first-child {
	border-top: 1px dotted #dddddd;
}
.catalog-box .catalog li i{
	width:21px !important;
}
.catalog li i {
	margin-right: 10px;
	float: left;
	background-image: url(../images/green-icon.png);
	background-repeat: no-repeat;
}
.icon1, .ad-details .icon1 {
	background-position: 0 0;
	width: 18px;
	height: 18px;
}
.icon2, .ad-details .icon2 {
	background-position: 0 -33px;
	width: 16px;
	height: 12px;
}
.icon3, .ad-details .icon3 {
	background-position: 0 -61px;
	width: 21px;
	height: 11px;
}
.icon4, .ad-details .icon4 {
	background-position: 0 -89px;
	width: 19px;
	height: 12px;
}
.icon5, .ad-details .icon5 {
	background-position: 0 -114px;
	width: 19px;
	height: 19px;
}
.icon6, .ad-details .icon6 {
	background-image: url(../images/star2.png) !important;
	background-repeat: no-repeat !important;
	width: 20px !important;
	height:20px !important;
}
.catalog-box {
	border: 1px solid #a1d3fd;
}
.catalog-box .left-text, .ad-details .left-text, .list-gallery .left-text {
	font-weight: 500;
	font-size: 11.25px;
	color: #666666;
	float: left;
	width: 70px;
	margin-bottom: 0;
	line-height: 19px;
	text-transform: capitalize;
}
.dot {
	float: left;
	padding-top: 4px;
	vertical-align: middle;
}
.catalog-box .right-text, .ad-details .right-text, .list-gallery .right-text {
	float: left;
	margin-left: 12px;
	line-height: 18px;
}
.right-text a{
	color:#666;
}

.catalog-box .more-info {
	background: #3D3C3C;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#3D3C3C), to(#313030));
	background: -webkit-linear-gradient(#3D3C3C, #313030);
	background: -moz-linear-gradient(#3D3C3C, #313030);
	background: -ms-linear-gradient(#3D3C3C, #313030);
	background: -o-linear-gradient(#3D3C3C, #313030);
	background: linear-gradient(#3D3C3C, #313030);
	-pie-background: linear-gradient(#3D3C3C, #313030);
	box-shadow: 0 1px 0 0 #666666 inset;
}

.property-box.type-2 .title-head {
	background: url(../images/green-effects.png) right top no-repeat;
}
.property-box.type-2 .title-head h2 {
	background-color: #baba4a;
	
}
.property-box.type-2 .all {
	background-color: #a7a741;
}

/*aside*/

.sidebar {
	width: 225px;
	float: right;
}
.adsbox-one {
	margin-bottom: 4px;
	background: #e15b5c;
	text-align: center;
	transition:background 0.2s ease-in;
	-webkit-transition:background 0.2s ease-in;
	-moz-transition:background 0.2s ease-in;
	-ms-transition:background 0.2s ease-in;
	-o-transition:background 0.2s ease-in;
}
.adv-photo {
	display: inline-block;
	margin-bottom: 7px;
}
.adv-photo img {
	opacity: 0.25;
	transition:all 0.2s ease-in;
	-webkit-transition:all 0.2s ease-in;
	-moz-transition:all 0.2s ease-in;
	-ms-transition:all 0.2s ease-in;
	-o-transition:all 0.2s ease-in;	
}

.adsbox-one:hover {
	background: #c34733;
}
.adsbox-one:hover img {
	opacity: 1;
	-webkit-transform: translate(0px, 10px) rotate(-15deg);
	-moz-transform: translate(0px, 10px) rotate(-15deg);
	-o-transform: translate(0px, 10px) rotate(-15deg);
	-ms-transform: translate(0px, 10px) rotate(-15deg);
	transform: translate(0px, 10px) rotate(-15deg);		
}

.adsbox-one, .adsbox-two {
	position: relative;	
	overflow:hidden;
}
.adsbox-two, .home-category, .loan-calculator {
	margin-bottom: 8px
}
.ads-info {
	font-size: 22.92px;
	color: #fff;
	line-height: 25px;
	padding-bottom: 6px;
	display: block;
}
.corner {
	background: url(../images/corner.png) right top no-repeat;
	width: 24px;
	height: 57px;
	position: absolute;
	right: 0;
	top: -3px;
}

.adsbox-two {
	background: #3277d4;
}
.adsbox-two:hover {
	background: #275aaf;
}
.adsbox-two:hover img {
	opacity: 1;
}
.adsbox-two .corner {
	background: url(../images/corner2.png) left top no-repeat;
	left: 0;
	right: auto;
}

.heading {
	background: #3c5d7c;
	border-bottom: 2px solid #3c5d7c
}
.heading span {
	background: #2d4963;
	padding: 12px 17px 8px;
	display: inline-block;
	position: relative
}
.heading span i {
	font-size: 16.67px;
	color: #fff;
}
.heading span:after {
	display: inline-block;
	content: "";
	position: absolute;
	right: -5px;
	top: 10px;
	border-bottom: 10px solid transparent;
	border-top: 10px solid transparent;
	border-left: 11px solid #2d4963
}
.heading h3 {
	display: inline-block;
	margin-left: 11px
}
.land-list {
	border: 1px solid #dedddd;
}
.land-list li {
	border-top: 1px solid #dedddd;
}
.land-list li:first-child {
	border-top: none;
}
.land-list li a {
	display: block;
	color: #171819;
	font-size: 13.75px;
	padding: 11px 0 8px 12px;
	transition:background 0.2s ease-in,color 0.2s ease-in ;
	-webkit-transition:background 0.2s ease-in,color 0.2s ease-in ;
	-moz-transition:background 0.2s ease-in,color 0.2s ease-in ;
	-ms-transition:background 0.2s ease-in,color 0.2s ease-in ;
	-o-transition:background 0.2s ease-in,color 0.2s ease-in ;
}
.land-list li a:hover {
	background: #2d4963;
	color: #fff
}

.loan-calculator .scroll, .loan-calculator .value {
	border: 1px solid #333333;
}
.loan-calculator {
	background: #4a4343;
	border-radius: 5px 5px 0 0;
	border: 1px solid #605f5b;
}
.row {
	padding: 0 8px 10px 8px
}
.loan-calculator h3 {
	background: url(../images/calci-head.jpg) no-repeat left top;
	font-size: 16.67px;
	min-height: 54px;
	width: 225px;
	text-align: center;
	padding-top: 25px;
	margin-bottom: 18px;
}
.loan-calculator strong {
	color: #fff;
	font-size: 13.33px;
	margin-bottom: 14px;
	display: block;
}
.loan-calculator .value {
	color: #fff;
	font-size: 11.25px;
	width: 60px;
	padding: 7px 0 7px 7px;
	display: block;
	float: right;
	position: relative;
	margin-top: -8px;
}

.value:before {
	left: -5px;
	top: 8px;
	border-bottom: 5px solid transparent;
	border-top: 5px solid transparent;
	border-right: 5px solid #333333;
}
.value:after {
	border-bottom: 5px solid rgba(0, 0, 0, 0);
	border-right: 5px solid #4A4343;
	border-top: 5px solid rgba(0, 0, 0, 0);
	left: -4px;
	top: 8px;
}
.loan-calculator .scroll {
	width: 126px;
	min-height: 9px;
	position: relative;
	float: left
}
.loan-calculator .scroll .fill {
	background: #170202;
	width: 31px;
	display: block;
	min-height: 9px;
}
.control-range {
	width: 20px;
	height: 18px;
	background: #2f2c2c;
	left: 31px;
	top: -5px;
	position: absolute;
	text-align: center;
}
.control-range span {
	width: 5px;
	height: 4px;
	background-color: #fff;
	display: inline-block;
}
.loan-calculator .last-child {
	border-bottom: 2px solid #2f2c2c;
}
.row input[type="text"] {
	border: 1px solid #3c3a3a;
	background-color: transparent;
	font-size: 12.08px;
	color: #a29f9f;
	box-shadow: none;
	padding: 7px 10px;
	width: 207px;
}
.news-letter .heading {
	background-color: #1493fb;
	border-bottom: 1px solid #006cc3;
}
.news-letter .heading span {
	background-color: #006cc3;
}
.news-letter .heading span:after {
	border-left: 11px solid #006cc3;
}
.bulletin {
	font-size: 11.67px;
	line-height: 18px;
	color: #505050;
	display: block;
	margin-bottom: 10px;
}
.news-letter .row {
	padding-top: 10px;
	border: 1px solid #d5d5d5;
}
.sign-up {
	background: url(../images/email-box.png) 0 0 no-repeat;
	width: 208px;
	height: 33px;
	overflow: hidden;
}
.sign-up input[type="text"] {
	border: 0 none;
	float: left;
	padding: 9px 10px;
	width: 166px;
}
.sign-up input[type="submit"] {
	cursor: pointer;
	float: right;
	height: 33px;
	width: 42px;
}
.sign-up:hover {
	background: url(../images/email-box.png) 0 -33px no-repeat;
}
.gray-box .heading {
	background-color: #eeeeee;
	border-bottom: 1px solid #b7b6b6;
}
.gray-box h3 {
	color: #524d4d;
}
.gray-box .heading span {
	background-color: #b7b6b6;
}
.gray-box .heading span:after {
	border-left: 11px solid #b7b6b6;
}
.real-state-news {
	margin-bottom: 8px;
	overflow: hidden;
}
.real-state-news figure {
	border: 1px solid #e8e8e7;
	padding: 2px;
	margin-bottom: 7px;
}
.real-state-news figure a, .real-state-news figure img {
	display: block;
}
.real-state-news figure img {
	
	width: 100%;
}

.real-state-news h2 {
	color: #5b5b6d;
	font-size: 11.67px;
	line-height: 16px;
	font-weight: 400;
	border-bottom: 1px dotted #dddddd;
	padding-bottom: 8px;
}
.real-state-news.last-child {
	margin-bottom: 0;
}
.real-state-news.last-child h2 {
	padding-bottom: 0;
	border-bottom: 0;
}
.view-all {
	border: 1px solid #c1bebe;
	color: #807f7f;
	line-height: 30px;
	width: 205px;
	margin: 15px auto 0;
	display: block;
	text-align: center;
	transition: background 0.4s linear;
	-webkit-transition: background 0.4s linear;
	-moz-transition: background 0.4s linear;
	-ms-transition: background 0.4s linear;
	-o-transition: background 0.4s linear;
}
.view-all:hover {
	background-color: #1d2023;
	color: #fff;
}

/******** Drop Down ************/

.form-info {
	width: 449px;
	border: 1px solid #afacac;
	box-shadow: 0 0 5px 5px #eaeaea inset;
	padding: 20px 30px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	position: absolute;
	right: 0;
	top: 107px;
	z-index: 999;
	display: none;
	background-color: rgba(255,255,255,0.96);
}
.form-info legend {
	color: #105cbd;
	font-size: 16.67px;
	text-transform: uppercase;
	padding-bottom: 12px;
	line-height: 18px;
	border-bottom: 1px solid #e9e9e9;
}
.find-info {
	overflow: hidden;
	/*padding-top: 20px;*/
	padding-bottom: 10px;
	height:60px;
}
.form-info .find-info:nth-child(3) {
	height:80px;
}
.left-col {
	float: left;
	width: 186px;
}

label {
	font-size: 15.83px;
	color: #1a1717;
	text-transform: capitalize;
	line-height: 18px;
	padding-bottom: 11px;
	display: inline-block;
}

.find-info .sbHolder {
	width: 186px;
	border: 1px solid #cccccc;
	position: absolute;
	padding:8px 0px;
    font-size:12.08px;
    color:#999999;
	
}
.find-info .sbSelector{
	width:140px;
	padding-left:10px;
}
.find-info .sbToggle{
	width:24px;
	height:28px;
	position: absolute;
	right:2px;
	top:0;
	background: url(../images/down1.jpg) right top no-repeat;
}
.find-info .sbOptions{
	position: static;
	border-top:0;
	z-index:999999;
}
.find-info .sbOptions li a{
	padding:10px;
}


.right-col {
	float: right;
	width: 190px;
}
.range input[type="text"] {
	border-radius: 5px;
	width: 82px;
	height: 30px;
	font-size: 12.08px;
	color: #999999;
	border: 1px solid #cccccc;
	padding-top: 5px;
	padding-bottom: 5px;
	box-shadow: none;
}
.minus {
	font-size: 12.08px;
	color: #999999;
	display: inline-block;
	vertical-align: middle;
	width: 12px;
	height: 12px;
	text-align: center;
}

.form-info input[type="submit"], .secenek input[type="submit"] {
	cursor: pointer;
	width: 380px;
	height: 42px;
	border-top: 1px solid #0762ab;
	box-shadow: 0 1px 0 0 #4091d2 inset;
	background: #016BC3;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#016BC3), to(#1b51b9));
	background: -webkit-linear-gradient(#016BC3, #1b51b9);
	background: -moz-linear-gradient(#016BC3, #1b51b9);
	background: -ms-linear-gradient(#016BC3, #1b51b9);
	background: -o-linear-gradient(#016BC3, #1b51b9);
	background: linear-gradient(#016BC3, #1b51b9);
	font-size: 13.75px;
	color: #fff;
	text-align: center;
}
.form-info input[type="submit"]:hover, .secenek input[type="submit"]:hover {
	opacity: 0.9;
}

/*
 2.) Detay Page Content
 -----------------------------------*/
.banner2 {
	border: 1px solid #e5e5e5;
	padding: 2px;
	margin-bottom: 9px;
}
.banner2 .slides {
	position: relative;
}
.banner-text span {
	font-size: 16.67px;
	color: #fff;
	text-transform: capitalize;
	display: block;
	position: absolute;
	bottom: 0;
	padding: 18px 12px;
}
span.left {
	background-color: rgba(204,51,51,.80);
	left: 0;
	width: 526px;
}
span.right {
	background-color: rgba(50,119,212,.80);
	right: 0;
	width: 233px;
	text-align: center;
}
.carousel {
	border: 1px solid #e5e5e5;
	padding: 12px 0 11px;
	margin-bottom: 9px;
}
.carousel-box {
	max-width: 649px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}
.carousel-box ul {
	overflow: hidden;
}
.carousel-box li {
	border: 1px solid #e5e5e5;
	padding: 2px;
	margin-left: 9px;
	float: left;
}
.mansetalti li{
	display:none;
}
.mansetalti{
	text-align:center;
}
.mansetalti li.aktif {
    display: inline-block;
    float: none;
}
.carousel-box li:hover, .carousel-box li.select {
	border: 3px solid #ff9c00;
	padding: 0;
}

.carousel-box li a, .carousel-box li a img {
	display: block;
}
.carousel-box li:first-child {
	margin-left: 0;
}
.carousel-nav{
	display:none;
}
.carousel-nav li {
	float: none;
	border: 1px solid #98948d;
	position: absolute;
	right: -50px;
	list-style-type: none;
	top: 50%;
	margin-top: -20px;
	margin-left: 0;
	padding: 0;
}
.carousel-nav li:hover {
	border: none;
}
.carousel-nav li:first-child {
	left: -50px;
	right: auto;
}
.carousel-nav li a {
	display: block;
	background-color: #fff;
	background-image: url(../images/page-nav.jpg);
	background-repeat: no-repeat;
	width: 38px;
	height: 38px;
}
.carousel-nav li a.prev {
	background-position: 0 0;
}
.carousel-nav li a.prev:hover {
	background-position: 0 -38px;
}
.carousel-nav li a.next {
	background-position: -38px 0;
}
.carousel-nav li a.next:hover {
	background-position: -38px -38px;
	border: 1px solid #3a3a39;
}

.ad-details-info {
	border: 1px solid #a5cb92;
	margin-bottom: 5px;
}
.head-box {
	box-shadow: 0 1px 0 0 #edf5e9 inset;
	padding: 15px 18px;
	border-bottom: 1px solid #a5cb92;
	background: #DAEBD1;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#DAEBD1), to(#c2ddb5));
	background: -webkit-linear-gradient(#DAEBD1, #c2ddb5);
	background: -moz-linear-gradient(#DAEBD1, #c2ddb5);
	background: -ms-linear-gradient(#DAEBD1, #c2ddb5);
	background: -o-linear-gradient(#DAEBD1, #c2ddb5);
	background: linear-gradient(#DAEBD1, #c2ddb5);
	-pie-background: linear-gradient(#DAEBD1, #c2ddb5);
	font-size: 13.75px;
	font-weight: 500;
	color: #333333;
	text-transform: capitalize;
}
.ad-details .catalog {
	margin-bottom: 0;
	border-bottom: 1px solid #c4ddb7;
}
.ad-details .catalog li {
	float: left;
	padding: 20px 10px 15px;
	border-left: 1px solid #c4ddb7;
	border-top: 0;
	border-bottom: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	color: #699352;
	width: auto;
}
.ad-details .catalog li:first-child {
	border-left: 0;
}
.ad-details .catalog li i {
	height: 19px;
	margin-top:3px;
}
.ad-details .catalog li i.fa-calendar {
	background: none;
}
.ad-details .icon1 {
	background-position: -21px 0;
	margin-top:0px !important;
}
.ad-details .icon2 {
	background-position: -21px -33px;
}
.ad-details .icon3 {
	background-position: -21px -61px;
}
.ad-details .icon4 {
	background-position: -21px -89px;
}
.ad-details .icon5 {
	background-position: -21px -114px;
	margin-top:-2px !important;
}
.ad-details .icon6 {
	background-image: url('../images/star.png');	
	background-repeat: no-repeat;
	width:20px;
	margin-top:-2px !important;
}
.ad-details .left-text {
	width: auto;
	color: #699352;
}
.ad-details .right-text {
	line-height: 14px;
	margin-left: 4px;
	color: #699352;
	font-weight: 400;
}
.ad-details small.right-text{
	margin-top:2px;
}
.ad-info {
	padding: 14px 15px 10px 13px;	
}
.para p {
	font-size: 11.67px;
	font-weight: 400;
	color: #333333;
	line-height: 20px;
}

.list-gallery {
	overflow: hidden;
}
.list-gallery .catalog {
	float: left;
	width: 230px;
	margin-left: 18px;
}
.list-gallery .catalog:first-child {
	margin-left: 0;
}
.list-gallery .left-text {
	float: left;
	font-size: 13.75px;
	font-weight: 700;
	color: #333333;
	width: 120px;
}
.list-gallery .right-text {
	font-weight: 400;
	font-size: 13.75px;
	width: 79px;
}
.list-gallery .right-text a{
	color:#333;
}
.specification {
	border: 1px solid #a0e4e4;
	margin-bottom: 5px;
}
.specification .head-box {
	background: #EBF4F4;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#EBF4F4), to(#dfecec));
	background: -webkit-linear-gradient(#EBF4F4, #dfecec);
	background: -moz-linear-gradient(#EBF4F4, #dfecec);
	background: -ms-linear-gradient(#EBF4F4, #dfecec);
	background: -o-linear-gradient(#EBF4F4, #dfecec);
	background: linear-gradient(#EBF4F4, #dfecec);
	-pie-background: linear-gradient(#EBF4F4, #dfecec);
	box-shadow: 0 1px 0 0 #f5fafa inset;
	border-bottom: 1px solid #a0e4e4;
}
.category {
	padding: 14px 0px 10px 13px;
	margin-bottom: 5px;
}
.category li {
	color: #333333;
	font-size: 12px;
	line-height: 28px;
	text-transform: capitalize;
	display: inline-block;
	width: 182px;
}
.category li i {
	color: #ccc;
	font-size: 15.83px;
	margin-right: 5px;
}
.category li.aktif i {
	color: #586cff;	
}
.map-box {
	border: 1px solid #add685;
	margin-bottom: 4px;
}
.map-box .head-box {
	background: #AAF776;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#AAF776), to(#74f348));
	background: -webkit-linear-gradient(#AAF776, #74f348);
	background: -moz-linear-gradient(#AAF776, #74f348);
	background: -ms-linear-gradient(#AAF776, #74f348);
	background: -o-linear-gradient(#AAF776, #74f348);
	background: linear-gradient(#AAF776, #74f348);
	-pie-background: linear-gradient(#AAF776, #74f348);
	box-shadow: 0 1px 0 0 #d5fcbb inset;
	border-bottom: 1px solid #add685;
}
.more-ads .head-box {
	border: 1px solid #c9c3c3;
	margin-bottom: 4px;
	box-shadow: 0 1px 0 0 #f2f2f2 inset;
	background: #E5E5E5;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#E5E5E5), to(#d5d5d5));
	background: -webkit-linear-gradient(#E5E5E5, #d5d5d5);
	background: -moz-linear-gradient(#E5E5E5, #d5d5d5);
	background: -ms-linear-gradient(#E5E5E5, #d5d5d5);
	background: -o-linear-gradient(#E5E5E5, #d5d5d5);
	background: linear-gradient(#E5E5E5, #d5d5d5);
	-pie-background: linear-gradient(#E5E5E5, #d5d5d5);
}
a[href^=tel]{
	color:#666666;
}
.address a[href^=tel]{
	color:#fff;
}



.sbHolder{
	float: left;
    margin-right: 10px;
    width: 33%;
	color: #928989;
    font-size: 13.75px;
    text-transform: uppercase;
    border:none;
    padding:12px 15px 10px;
    box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	position: relative;
}
.sbSelector{
	color:#888888;
	display: block;
	/*text-transform: lowercase;*/
	text-transform: uppercase;
}
.sbToggle{
	background: url(../images/down.jpg) right top no-repeat;
	width:32px;
	height:33px;
	position: absolute;
	right:0;
	top:0;
}
.sbOptions{
	position: absolute;
	left: 0;
	top: 33px !important;
	width: 100%;
	background-color: #fff;
	border-top: 1px solid #e5e5e5;
	z-index: 90;
	display: none;
	padding:10px 0;	
}
.sbOptions li a:hover{
	background-color: #ebebea;
}
.sbOptions li a{
	font-size: 13.75px;
	color: #928989;
	padding: 10px 16px;
	text-transform: uppercase;
	display: block;
}
#map-canvas{
	width:764px;
	height:326px;
}
.resimslide{
	max-height:246px !important;
}

.scroll i{
	 background-position: 0 -354px;
    border-radius: 0px;
    box-shadow: 1px 0 0 #000000 inset;
    display: block;
    height: 8px;
    margin-top: 0;
    width: 126px;
}
.scroll input, .scroll span{	
	color: rgb(162,162,162);
}
.scroll input{
	float:right;	
	border: none;
	background: none;
	width: 40px;
	color: #9B1102;
	font-weight:bold;
	text-align:right;
	margin:5px 0px;
	font-size:14px;
}
.scroll input#amount1{
	width: 40px;
}
.scroll .ui-widget-content{border: none;background: #4A4343}
.scroll .ui-widget-header{ box-shadow: 0px;background: #170202}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{background: #170202; border: none;cursor: pointer}
.ui-slider .ui-slider-handle {height: 1.5em;width: 1.6em;font-size:1.1em;}
.scroll span.none, .scroll span.not-none{
	float: none;
	/*border:1px solid rgb(231,231,230);*/
	line-height:1.5;
	padding:3px 5px; 
} 
input.none{float: none; border: 1px solid #E7E7E6;width: 30px;margin-right: 3px;}
.scroll span.not-none{
	border: none;
}
#slider-range a:nth-of-type(1),#slider-range1 a:nth-of-type(1) {display:none;}

.ui-widget-content .ui-state-default{
	width: 18px !important;
	height: 16px !important;
	background: none #2F2C2C !important;
	border: 1px solid #252323 !important;
	border-radius: 0px !important;    
}
.ui-widget-content .ui-state-default:before{
	content:'';
	width: 6px !important;	
	height: 4px !important;
	display:block;
	background: #eee !important;	
	margin-top:5px;
	margin-left:5px;
}

.ui-slider-horizontal .ui-slider-range{
	height: 9px !important;
	border-radius: 0px !important;
}

#pagenavi{float:right;margin-top:6px;}
#pagenavi .mTop20{margin-top:0px;}
#pagenavi .mBottom20 {margin-bottom:10px;}
#pagenavi .navigation {float:right;overflow:hidden;}
#pagenavi .navigation ul{list-style:none;overflow:hidden;}
#pagenavi .navigation ul li{float:left;margin:2px;height:33px;}
#pagenavi .navigation ul li a{
	height: 23px;
    float: left;
    cursor: pointer;
    margin-left: 5px;
    padding: 9px 15px 0;
    border: 1px solid #e8e8e8;
    border-top: 2px solid #00A8FF;	
    font: 11px "Source Sans Pro";
    color: #616161;
    transition: all 0.2s linear;
}
#pagenavi .navigation ul li a:hover{
    height: 24px;
    background: #00A8FF;
    color: #fff;
}
#pagenavi .navigation ul li a.active{
    height: 24px;
    background: #00A8FF;
    color: #fff;
}
.tabs0, .tabs1, .tabs2{
	height:420px;
	overflow:hidden;
} 

.para .find-info .sbHolder
{
	width:300px;
}
.para .left-col, .para .right-col{
	width:350px;
}
.submitte{
	padding:6px;
	text-align:center;
}
.secenek{
	position:relative;
	overflow:hidden;
}
.secenek label{
	width:100%;
}
.secenek label.check{
	width:160px;
	color: #888;
}
.secenek select{
	padding:5px;
	border:1px #ccc solid;
	border-radius:4px;
	width:340px;	
	color: #888;
	text-transform: uppercase;
}
label.select {position:relative;width:340px;}
.birim select{	
	width:120px;		
}
label.birim {position:relative;width:120px;}

.find-info label{
	width:100%;
	padding-top:4px;
}
.find-info select{
	padding:5px;
	border:1px #ccc solid;
	border-radius:4px;
	width:180px;	
	color: #888;
	text-transform: uppercase;
}
.find-info label.select {position:relative;width:180px;padding-top:0px;}


label.select:after {
    content:' ';    
    right:8px; top:2px;
    padding:0 0 2px;    
    position:absolute;
    pointer-events:none;
	background: url('../images/down1.jpg') no-repeat scroll right top transparent;
	width:20px;
	height:20px;
}
input.fiyat{width:216px !important;margin-top:1px;}
input.m2{width:340px !important;margin-top:1px;}
label.select:before {
    content:'';
    right:4px; top:4px;
    width:22px; height:22px;
    background:#fff;
    position:absolute;
    pointer-events:none;
    display:block;
}
.isyeri, .arsa, .trustik-tesis, .arsa2, .isyeri2, .trustik-tesis2{
	display:none;
}
.konut{
	display:block;
}
.ouc{width:33% !important;float:left;}
.ouc .select{
	width:220px;
}
.ouc .select select{
	width:220px;
}
.fullcl{
	width:726px !important;
}
.fullcl input{
	width:100% !important;
}
.fullcl textarea{
	width:720px !important;
	border-radius: 5px;
	height: 120px;
	font-size: 12.08px;
	color: #999;
	border: 1px solid #CCC;
	padding-top: 5px;
	padding-bottom: 5px;
	box-shadow: none;
}
.tumu{
	text-indent:1px !important;
	width:50px !important;
	color:#fff !important;
}